{% extends "main.html" %} 
{% block content %}
{% include "header.html" %}
<div class="row">
	<div class="col-md-4">
		{% include 'categories.html' %}
	</div>
	<div class="col-md-8">
		<h2>{{ category.name }} Items</h2>
		{%if 'username' in session %}
			<a href="{{url_for('newItem')}}">Add item</a>
		{% endif %}
		{% for item in items %}	
		<a href="{{url_for('showItem', item_id = item.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<h3>{{item.title}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
		{% endfor %} 
	</div>
</div>
{% endblock %}